:root {
    --dark: #062743;
    --white: #FFFFFF;
    --light: #F9F9F9;
    --primary: #113A5D;
    --secondary: #F5DF99;
    --ubuntu: 'Ubuntu', sans-serif;
}

html, body {
    font-family: var(--ubuntu);
}

.leftbar {
    width: 80px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    /* transition: 0.3s; */
}

.rightbar {
    margin-left: 80px;
    /* transition: 0.3s; */
}

.rightbar .content {
    background-color: var(--light);
    padding-top: calc(55px + 20px) !important;
}

.leftbar .nav {
    margin-top: 47px;
}

.leftbar .nav .nav-item {
    text-align: center;
}

.leftbar .nav .nav-item a {
    color: var(--white);
    font-size: 11px;
    display: block;
    text-align: center;
    padding: 10px;
    transition: 0.3s;
}

.leftbar .nav .nav-item a:hover {
    background-color: rgba(8, 1, 1, 0.3);
}

.leftbar .nav .nav-item a span {
    display: block;
    color: var(--white);
}

.leftbar .nav .nav-item a > i {
    font-size: 30px;
}

.leftbar .nav .nav-item.active {
    background-color: var(--white);
}

.leftbar .nav .nav-item.active a > * {
    color: var(--primary);
}

.rightbar .content {
    padding: 20px;
}

.navbar {
    background-color: var(--white);
    height: 55px;
    position: fixed;
    box-shadow: 0 2px 8px rgb(0 0 0 / 8%);
}
.navbar.open {
    width: calc(100% - 80px);
}
.navbar.close {
    width: 100%;
}

.navbar a {
    color: var(--primary) !important;
    transition: 0.3s;
}

.navbar a i {
    margin-right: 3px;
}