.leftbar {
    width: $leftbar_width;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: $dark;

    .nav {
        margin-top: 47px;

        .nav-item {
            text-align: center;

            &.active {

                a {
                    * {
                        color: $first;
                    }
                    border-left: 2px solid $first;
                }
            }

            a {
                color: $white;
                font-size: 11px;
                display: block;
                text-align: center;
                padding: 10px;
                transition: 0.3s;

                &:hover {
                    background-color: rgba(8, 1, 1, 0.3);
                }

                span {
                    display: block;
                    color: $white;
                }

                i {
                    font-size: 25px;
                }
            }
        }
    }
}