@import url(https://fonts.googleapis.com/css2?family=Ubuntu&display=swap);
@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(//unpkg.com/spectre.css/dist/spectre.min.css);
@import url(//unpkg.com/spectre.css/dist/spectre-exp.min.css);
@import url(//unpkg.com/spectre.css/dist/spectre-icons.min.css);
html, body {
  font-family: "Ubuntu", sans-serif;
}

.navbar {
  background-color: #FF6188;
  height: 35px;
  width: 100%;
  position: absolute;
  z-index: 100;
}
.navbar a {
  color: white !important;
  transition: 0.3s;
  font-size: 15px !important;
}
.navbar a.bar-handle {
  margin-left: 250px;
}
.navbar a i {
  margin-right: 3px;
}

.leftbar {
  width: 50px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #1c1b1b;
  border-right: 1px solid rgba(214, 214, 214, 0.1);
}
.leftbar .nav {
  margin-top: 47px;
}
.leftbar .nav .nav-item {
  text-align: center;
}
.leftbar .nav .nav-item.active a {
  border-left: 2px solid #FF6188;
}
.leftbar .nav .nav-item.active a * {
  color: #FF6188;
}
.leftbar .nav .nav-item a {
  color: #d6d6d6;
  font-size: 11px;
  display: block;
  text-align: center;
  padding: 10px;
  transition: 0.3s;
}
.leftbar .nav .nav-item a:hover {
  background-color: rgba(8, 1, 1, 0.3);
}
.leftbar .nav .nav-item a span {
  display: block;
  color: #d6d6d6;
}
.leftbar .nav .nav-item a i {
  font-size: 25px;
}

.leftbar-2 {
  width: 200px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #1c1b1b;
  margin-left: 50px;
}
.leftbar-2 .leftbar-content:not(.show) {
  display: none;
}
.leftbar-2 .nav {
  margin-top: 47px;
}
.leftbar-2 .nav .nav-item {
  text-align: center;
}
.leftbar-2 .nav .nav-item.active a {
  border-left: 2px solid #FF6188;
}
.leftbar-2 .nav .nav-item.active a * {
  color: #FF6188;
}
.leftbar-2 .nav .nav-item a {
  color: #d6d6d6;
  font-size: 17px;
  display: block;
  padding: 10px;
  transition: 0.3s;
  text-align: left;
}
.leftbar-2 .nav .nav-item a:hover {
  background-color: rgba(8, 1, 1, 0.3);
}

.rightbar {
  margin-left: 250px;
}
.rightbar.partial {
  margin-left: 250px;
}
.rightbar.full {
  margin-left: 50px;
}
.rightbar .content {
  background-color: #2e2e2e;
  padding-top: 75px !important;
  padding: 20px;
  color: #d6d6d6;
}
