$dark : #062743;
$white: #FFFFFF;
$light: #F9F9F9;
$primary: #113A5D;
$secondary: #F5DF99;
$ubuntu: 'Ubuntu', sans-serif;

$leftbar1_width: 50px;
$navbar_height: 35px;
$leftbar2_width: 200px;

$leftbar_width: 250px;